body {
  height: 100vh;
}

.search-field {
    width: 100% !important;
}

.page-title {
    margin-top: 150px;
}

.flexslider {
    height: 650px;
}

.probootstrap-wrap-banner h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:60px;
    font-weight: bold;
}

.probootstrap-wrap-banner h2 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left:60px;
}

.probootstrap-main-nav .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.probootstrap-home-search {
    margin-top: 50px;
}

.probootstrap-logo {
    font-size: 27px;
    padding-left: 0;
}

.probootstrap-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.probootstrap-breadcrumbs {
    margin-bottom: 5px;
}

.masthead-img {
    position: absolute;
    top: -160px;
    left: 320px;
    opacity: 70%;
}

@media screen and (max-width: 768px) {
    .masthead-img {
        top: 31px;
        left: -7px;
        opacity: 20%; 
    }
}

html .cog-row .cog-col:not(td), :root:root:root:root:root .cog-row .cog-col:not(td) {
    margin-bottom: 2rem !important;
}

html .cog-checkable .el-radio__label, html .cog-checkable .el-checkbox__label, :root:root:root:root:root .cog-checkable .el-radio__label, :root:root:root:root:root .cog-checkable .el-checkbox__label {
    padding-left: 25px !important;
}

html .cog-page-progress--steps a::before, :root:root:root:root:root .cog-page-progress--steps a::before {
    padding-top: 2px;
}

.el-html .cog-cognito--styled .el-checkbox__inner, :root:root:root:root:root .cog-cognito--styled .el-checkbox__inner {
    margin-top: 3px;
}

.el-date-editor {
    width: 160px !important;
}

.el-textarea__inner {
    height: 150px !important;
}